@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: dark) {
    html {
        color-scheme: light;
    }
}

#root{
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 100svh;
    min-height: 100svh;
    scrollbar-gutter: stable both-edges;
}

main{
    scrollbar-gutter: stable both-edges;
}

img.black-to-white {
    filter: invert(100%) brightness(200%);
}
  
.full-screen {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100vw; 
    height: 100vh; 
    background-color: rgba(0, 0, 0, 0.3); 
    z-index: 30;
    margin: 0 !important;
}

.scrollbar-gutter{
    scrollbar-gutter: stable both-edges;
}